<div class="actions">
  <%= link_to "BuilderBot, build a car!", :controller => :bots, :action => :builder_create_car %>
  <%= link_to "BuilderBot, build 10 cars!", :controller => :bots, :action => :builder_create_cars %>
  <%= link_to "GuardBot, check and move!", :controller => :bots, :action => :guard_check_and_move_cars %>
  <%= link_to "BuyBot, buy!", :controller => :bots, :action => :buy_shop %>
  <%= link_to "Slack test", :controller => :bots, :action => :slack_test %>
  <%= link_to "BuilderBot, Clear factory!", :controller => :bots, :action => :reset %>
  <%= link_to "BuilderBot, Execute order 66!", :controller => :bots, :action => :clear %>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="tables-tab" data-toggle="tab" href="#tables" role="tab">Tables</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="builder-tab" data-toggle="tab" href="#builder" role="tab">Builder Bot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="guard-tab" data-toggle="tab" href="#guard" role="tab">Guard Bot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="buy-tab" data-toggle="tab" href="#buy" role="tab">Buy Bot</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="builder" role="tabpanel">
    <div class="code">
      <% if @builder_log %>
        <% @builder_log.reverse.each do |line| %>
          <div><%= line %></div>
        <% end %>
      <% else %>
        # No log file created yet #
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="guard" role="tabpanel">
    <div class="code">
      <% if @guard_log %>
        <% @guard_log.reverse.each do |line| %>
          <div><%= line %></div>
        <% end %>
      <% else %>
        # No log file created yet #
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="buy" role="tabpanel">
    <div class="code">
      <% if @buy_log %>
        <% @buy_log.reverse.each do |line| %>
          <div><%= line %></div>
        <% end %>
      <% else %>
        # No log file created yet #
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade show active" id="tables" role="tabpanel">
    <div class="panels">
      <div class="panel">
        <h2>Cars</h2>
        <table class="table table-striped table-sm">
          <tr>
            <th>id</th>
            <th>Year</th>
            <th>Model</th>
            <th>Color</th>
            <th>Depot</th>
            <th>Price/Cost</th>
            <th># Parts</th>
            <th>Order (Price)</th>
            <th>Status</th>
          </tr>
          <% @cars.each do |row| %>
            <tr>
              <td><%= row.id %></td>
              <td><%= row.year %></td>
              <td><%= row.model && row.model.name %></td>
              <td><%= row.color %></td>
              <td><%= row.depot && row.depot.name %></td>
              <td>$ <%= row.price %> / $ <%= row.cost %></td>
              <td>
                <% row.parts.each do |part| %>
                  <div><%= part.defective ? "❌️" : "✔️" %> <%= part.class.to_s %> (#<%= part.serial_number %>)</div>
                <% end %>
              </td>
              <td><%= row.order && "# #{row.order.id} (#{row.order.amount})" %></td>
              <td><%= row.status %></td>
            </tr>
          <% end %>
        </table>
      </div>
    
      <div class="panel">
        <h2>Orders</h2>
        <table class="table table-striped table-sm">
          <tr>
            <th>id</th>
            <th>Car</th>
            <th>Amount</th>
          </tr>
          <% @orders.each do |row| %>
            <tr>
              <td><%= row.id %></td>
              <td><%= row.car %></td>
              <td><%= row.amount %></td>
            </tr>
          <% end %>
        </table>
      </div>
    
      <div class="panel">
        <h2>Depots</h2>
        <table class="table table-striped table-sm">
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Code</th>
            <th># Cars</th>
          </tr>
          <% @depots.each do |row| %>
            <tr>
              <td><%= row.id %></td>
              <td><%= row.name %></td>
              <td><%= row.code %></td>
              <td><%= row.cars.count %></td>
            </tr>
          <% end %>
        </table>
      </div>
      
      <div class="panel">
        <h2>Models</h2>
        <table class="table table-striped table-sm">
          <tr>
            <th>id</th>
            <th>Name</th>
          </tr>
          <% @models.each do |row| %>
            <tr>
              <td><%= row.id %></td>
              <td><%= row.name %></td>
            </tr>
          <% end %>
        </table>
      </div>
      
      <div class="panel">
        <h2>Parts</h2>
        <table class="table table-striped table-sm">
          <tr>
            <th>Part</th>
            <th>Count</th>
          </tr>
          <% @parts.each do |row| %>
            <tr>
              <td><%= row[:part] %></td>
              <td><%= row[:count] %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>    
  </div>
</div>

