$color-border: #ccc;

.panels {
  display: flex;
  
  .panel {
    margin: 20px;
  }
}

.actions {
  display: flex;
  padding: 10px;
  
  a {
    padding: 5px 10px;
    border-right: 1px solid $color-border;
    
    &:last-child {
      border-right: 0;
    }
  }
}